name: Release
on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Compress
        run: gzip --verbose --force --best --keep target/release/kdotool
      - name: Upload
        run: gh release upload ${{ github.event.release.tag_name }} target/release/kdotool.gz
