name: Rust

on:
  push:
    branches:
      - master
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: APT Update
        run: sudo apt-get update

      - name: Install Dependencies
        run: sudo apt-get install -y libdbus-1-dev

      - name: Test
        run: cargo +nightly test --verbose
